<header>
    <div class="container-header">
        <div class="site-title">
            <a class="header-link" href="#">{{ .Site.Title }}</a>
        </div>
        <nav>
            <ul>
                <li><a class="header-link" href="courses">Courses</a></li>
                <li><a class="header-link" href="dates">Dates</a></li>
                <li><a class="header-link" href="apply">Apply</a></li>
                <li><a class="header-link" href="logistics">Logistics</a></li>
                <li><a class="header-link" href="program">Program</a></li>
                <li><a class="header-link" href="participants">Participants</a></li>
                <li><a class="header-link" href="contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
