<header>
    <div class="container-header">
        <div class="site-title">
            <a class="header-link" href="#">{{ .Site.Title }}</a>
        </div>
        <nav>
            <ul>
                <li><a class="header-link" href="#">Courses</a></li>
                <li><a class="header-link" href="#">Dates</a></li>
                <li><a class="header-link" href="#">Apply</a></li>
                <li><a class="header-link" href="#">Logistics</a></li>
                <li><a class="header-link" href="#">Programme</a></li>
                <li><a class="header-link" href="#">Participants</a></li>
                <li><a class="header-link" href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
