<header>
    <div class="container container-fullwidth container-nav">
        <div class="site-title">
            {{ .Site.Title }}
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Important Dates</a></li>
                <li><a href="#">Apply</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Programme</a></li>
                <li><a href="#">LOC/SOC</a></li>
                <li><a href="#">Participants</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
